*{
    justify-content: center;
    font-family: "Poppins";
    align-items: center;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-image: url('./bg.jpeg');
    background-position: 50vh;
}

.card{
    width: 500px;
    margin: 0 auto;
}

/* Left-Card styles*/

#left{
    padding: 40px;
    margin-bottom: 70px;
    width: 28rem;
    height:32rem;
    margin-top:100px; 
    float:left;
}

img{
    padding-left: 50px;
    padding-right: 50px;
}

.ltext{
    text-align: center;
    font-size: 30px;
    margin-top: 180px;
}

.ltext2{
    font-size: 17px;
    text-align: center;
    color: darkgrey;
    margin-bottom: 180px;    
}

/* Right-Card styles*/

#right{
    background: rgb(43, 43, 60);
    padding: 25px;
    padding-right: 35px;
    padding-left: 35px;
    width:23rem; 
    height: 32rem; 
    padding-top: 80px; 
    margin-top:100px;
}

.rtext{
    color: aquamarine;
    font-size: 24px;
    font-weight: 500;
}

#rtext2{
    color: darkgrey;
    margin-left: 15px;
}

#btn{
    background-color: rgb(84, 235, 184);
    color: white;
    font-size: 20px;
    font-weight: 200;
}

input.form-control, textarea {
    height: 45px;
    background-color:rgb(63, 63, 80); 
    border: none;
    margin-bottom: 10px;
}

input.form-control, value{
    color:rgb(180, 174, 174);
    font-size: 15px;
    font-weight: 500;
}

#lock{
    background-color: darkgrey;
}